# JWT Configuration
JWT_SECRET_KEY= "your_base64_jwt_secret_key"

#Github OAuth2
#If you don't know how to setup this, is explained on the readme
GITHUB_CLIENT_ID = "your_github_client_id"
GITHUB_CLIENT_SECRET = "your_github_client_secret"