# JWT Configuration
JWT_SECRET_KEY= "For this app you need to use a Base64 JWT Secret Key"

#Github OAuth2
#If you don't know how to setup this, is explained on the readme
GITHUB_CLIENT_ID = "Your github client id here"
GITHUB_CLIENT_SECRET = "Your github client secret here"